<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-10-26T08:47:22Z</date>
	<key>WorkspacePath</key>
	<string>/Users/apple/Desktop/阳澄湖管理系统/YCHManage-IOS/YCHManage/YCHManage.xcworkspace</string>
</dict>
</plist>
